/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
    min-height: 100%;
  }
  body {
    min-height: 100%;
  }
  @font-face {
    font-family: Halyard Display;
    font-weight: 400;
    src: url(./assets/fonts/HalyardDisplay-Regular.woff2) format("woff2"),
      url(./assets/fonts/HalyardDisplay-Regular.woff) format("woff");
  }
  @font-face {
    font-family: Halyard Display;
    font-weight: 600;
    src: url(./assets/fonts/HalyardDisplaySemiBold-Regular.woff2)
        format("woff2"),
      url(./assets/fonts/HalyardDisplaySemiBold-Regular.woff) format("woff");
  }

  :root {
    /* Silence the warning about missing Reach Dialog styles */
    --reach-dialog: 1;
  }
}
